language: haskell
ghc: 7.8
cache:
  directories:
    - $TRAVIS_BUILD_DIR/.cabal-sandbox
    - $TRAVIS_BUILD_DIR/.other_dependancies_sandbox
install:
- git clone https://jacekm-git@bitbucket.org/jacekm-git/fann_library.git
- cabal install happy
- cabal sandbox init
- export PKG_CONFIG_PATH=$PKG_CONFIG_PATH:/home/travis/build/jacekm-git/HsPredictor/fann_library/lib/pkgconfig/
- export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/travis/build/jacekm-git/HsPredictor/fann_library/lib/
- cabal install --only-dependencies --enable-tests
- cd .other_dependancies_sandbox
- cabal sandbox init
- cabal install hpc-coveralls
- cd ..
- export PATH=$PATH:$TRAVIS_BUILD_DIR/.other_dependancies_sandbox/.cabal-sandbox/bin
before_script:
- cabal configure --enable-tests --enable-library-coverage
- cabal build
script:
- cabal test --show-details=always --test-options="--color"
after_script:
- hpc-coveralls --exclude-dir=tests HUnit